@import "tailwindcss";

@layer base {
  input,
  textarea,
  select {
    color: #111827 !important;
    -webkit-text-fill-color: #111827 !important;
    font-weight: normal;
    opacity: 1;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
select {
  color: #111827 !important;
  -webkit-text-fill-color: #111827 !important;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  opacity: 1 !important;
  filter: none !important;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8 !important;
  -webkit-text-fill-color: #94a3b8 !important;
  font-weight: normal !important;
  opacity: 1 !important;
}

input:focus,
textarea:focus,
select:focus {
  color: #111827 !important;
  -webkit-text-fill-color: #111827 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  color: #111827 !important;
  -webkit-text-fill-color: #111827 !important;
}
